force-app/main/default/flows/Send_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>402</locationX>
        <locationY>71</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplate.Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>NoticeRule.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailTemplate.Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <interviewLabel>Send Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>278</locationX>
        <locationY>71</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification - Event</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputReference>EmailTemplate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Body</queriedFields>
        <queriedFields>Subject</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Rule</name>
        <label>Get Rule</label>
        <locationX>158</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NoticeEvent.Notice_Rule__c</elementReference>
            </value>
        </filters>
        <object>Notice_Rule__c</object>
        <outputReference>NoticeRule</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Target_Record_Type__c</queriedFields>
        <queriedFields>Target_Field__c</queriedFields>
        <queriedFields>Target_Change__c</queriedFields>
        <queriedFields>Target_Value__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <startElementReference>Get_Rule</startElementReference>
    <status>Active</status>
    <variables>
        <name>EmailTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <name>NoticeEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Notice_Rule_Event__c</objectType>
    </variables>
    <variables>
        <name>NoticeRule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notice_Rule__c</objectType>
    </variables>
</Flow>
